#PyCharm
*.iml
CEFms.iml
encodings.xml
misc.xml
modules.xml
R_User_Library.xml
vcs.xml
Project_Default.xml
whitestallion.xml

#Build module
/pycef.egg-info
/build
/dist

run_bi_weekly.sh
run_daily.sh
prod.yaml